.toast-dialog-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #88888888;
    z-index: 1000001;
}

.toast-message {
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    color: #10437c;
    padding: 10px ;
}

.toast-wrapper {
    z-index: 1000002;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    background: #f9f9f9;
    padding: 20px;
    border-radius: 20PX;
    box-shadow: 0px 0 82px 0px #80808080;
}