<div *ngIf="this.playingModeService.currectMode === PlayingMode.Ultimate"
    class="header-wrapper d-flex ai-center jc-space-btw">
    <img src="images/UltimateTexasHoldem.png" alt="">
    <h1>U&nbsp;l&nbsp;t&nbsp;i&nbsp;m&nbsp;a&nbsp;t&nbsp;e &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        T&nbsp;e&nbsp;x&nbsp;a&nbsp;s &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; H&nbsp;o&nbsp;l&nbsp;
        d&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '&nbsp;E&nbsp;m</h1>
    <img src="images/UltimateTexasHoldem.png" alt="">
</div>

<div *ngIf="this.playingModeService.currectMode === PlayingMode.Novo"
    class="header-wrapper d-flex ai-center jc-space-around">
    <h1>N&nbsp;O&nbsp;V&nbsp;O&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; P&nbsp;o&nbsp;k&nbsp;e&nbsp;r</h1>
</div>