.card-wrapper {
    height: 120px;
    width: 92px;
    border: 1px solid;
    border-radius: 15px;
    background: #e4e4e4;
    box-shadow: 0px 0px 7px 2px lightgray;
}

img {
    height: 85%;
    margin: 10px;
}