<div class="d-flex ai-top jc-space-btw">
    <div class="d-flex ai-center jc-space-btw" [style.width.%]="30">

        <div class="payout-board">
            <p class="title center red">Trips Payout</p>
            <div *ngFor="let payout of tripsPayout" class="d-flex ai-center jc-space-btw">
                <p class="subtitle blue"> {{payout.handName}}</p>
                <p class="subtitle blue"> {{payout.payoutString}}</p>
            </div>
        </div>

        <div class="payout-board">
            <p class="title center red">Blind Payout</p>
            <div *ngFor="let payout of blindPayout" class="d-flex ai-center jc-space-btw">
                <p class="subtitle blue"> {{payout.handName}}</p>
                <p class="subtitle blue"> {{payout.payoutString}}</p>
            </div>

            <div class="d-flex ai-center jc-space-btw">
                <p class="subtitle blue"> Other Hands</p>
                <p class="subtitle blue"> Push</p>
            </div>

        </div>

    </div>

    <div class="center" [style.width.%]="30">
        <p class="title">Dealer Hand<span *ngIf="dealerHand">&nbsp;-&nbsp;{{dealerHand.handDescription}}</span></p>

        <div class="d-flex ai-center jc-space-btw" [style.width.%]="40" [style.margin]="'auto'">
            <div *ngFor="let card of dealerCards;">
                <app-display-card [card]="card" />
            </div>
        </div>

        <p class="title">Community Cards</p>

        <div class="d-flex ai-center jc-space-btw" [style.width.%]="100" [style.margin]="'auto'">
            <div *ngFor="let card of communityCards;">
                <app-display-card [card]="card" />
            </div>
        </div>
    </div>

    <div class="d-flex ai-top jc-space-btw" [style.width.%]="35">
        <div>
            <div [style.margin.px]="20">
                <app-rectangle-btn [label]="'Deal'" [disabled]="handStage !== HandState.NotStarted || isInvalid"
                    (clicked)="deal()" />
            </div>

            <div [style.margin.px]="20">
                <app-rectangle-btn [label]="'Open Flop'" [disabled]="handStage !== HandState.PreFlop"
                    (clicked)="flop()" />
            </div>

            <div [style.margin.px]="20">
                <app-rectangle-btn [label]="'Open River'" [disabled]="handStage !== HandState.AfterFlop"
                    (clicked)="river()" />
            </div>

            <div [style.margin.px]="20">
                <app-rectangle-btn [label]="'Dealer Hand'"
                    [disabled]="handStage !== HandState.AfterRiver || !isAllDecided" (clicked)="openDealerHand()" />
            </div>

            <div [style.margin.px]="20">
                <app-rectangle-btn [label]="'Next Hand'" [disabled]="handStage !== HandState.DealerHand"
                    (clicked)="nextHand()" />
            </div>
        </div>

        <div>
            <div [style.margin.px]="20">
                <app-rectangle-btn [label]="'Go To Batch'" [disabled]="handStage !== HandState.NotStarted"
                    (clicked)="batch()" />
            </div>
        </div>
    </div>
</div>

<div class="d-flex ai-center jc-space-btw" [style.width.%]="96" [style.margin.px]="30">
    <div *ngFor="let spot of playerSpots; let i=index" class="player-spot-board">
        <div class="d-flex ai-center jc-space-btw" [style.width.%]="96">
            <p class="title red" [style.margin-bottom.px]="0">Player Spot No {{i+1}}</p>
            <app-switch *ngIf="handStage == HandState.NotStarted" [(isOn)]="spot.isActive"
                (isOnChange)="setValidation(spot)" />
        </div>

        <div *ngIf="spot.isActive">

            <div class="d-flex ai-top jc-space-btw">
                <div [style.width.%]="50" [style.margin.px]="5">

                    <div class="d-flex ai-center jc-space-around">
                        <app-get-number [name]="'Trips'" [showControls]="handStage == HandState.NotStarted"
                            [(value)]="spot.trips" (valueChange)="setValidation(spot)" />
                        <app-get-number [name]="'Ante'" [showControls]="handStage == HandState.NotStarted"
                            [(value)]="spot.ante" (valueChange)="setValidation(spot)" />
                    </div>
                    <div class="d-flex ai-center jc-space-around">
                        <app-get-number [name]="'Play'" [showControls]="false" [(value)]="spot.play"
                            (valueChange)="setValidation(spot)" />
                        <app-get-number [name]="'Blind'" [showControls]="false" [(value)]="spot.ante"
                            (valueChange)="setValidation(spot)" />
                    </div>

                    <div class="d-flex ai-center jc-space-around" [style.margin-top.px]="30">
                        <div *ngFor="let card of spot.cards;">
                            <app-display-card [card]="card" />
                        </div>
                    </div>

                    <p *ngIf="handStage!==HandState.NotStarted" class="subtitle center">
                        {{spot.currentHand?.handDescription}}</p>

                    <div [style.margin-top.px]="20">
                        <div *ngIf="handStage == HandState.PreFlop" class="d-flex ai-center jc-space-around"
                            [style.margin.px]="10">
                            <app-rectangle-btn *ngIf="spot.betStage==BetStage.NoBet" [label]="'Bet 3X'" [size]="'small'"
                                [disabled]="false" (clicked)="betX3(spot)" />
                            <app-rectangle-btn *ngIf="spot.betStage==BetStage.NoBet" [label]="'Bet 4X'" [size]="'small'"
                                [disabled]="false" (clicked)="betX4(spot)" [style]="'negative'" />
                            <app-rectangle-btn *ngIf="spot.betStage==BetStage.PreFlop" [label]="'Cancel'"
                                [size]="'small'" [disabled]="false" (clicked)="cancel(spot)" />
                        </div>

                        <div *ngIf="handStage == HandState.AfterFlop" class="d-flex ai-center jc-space-around"
                            [style.margin.px]="10">
                            <app-rectangle-btn *ngIf="spot.betStage==BetStage.NoBet" [label]="'Bet 2X'" [size]="'small'"
                                [disabled]="false" (clicked)="betX2(spot)" />
                            <app-rectangle-btn *ngIf="spot.betStage === BetStage.AfterFlop" [label]="'Cancel'"
                                [size]="'small'" [disabled]="false" (clicked)="cancel(spot)" />
                        </div>

                        <div *ngIf="handStage == HandState.AfterRiver" class="d-flex ai-center jc-space-around"
                            [style.margin.px]="10">
                            <app-rectangle-btn *ngIf="spot.betStage==BetStage.NoBet" [label]="'Fold'" [size]="'small'"
                                [disabled]="false" (clicked)="fold(spot)" />
                            <app-rectangle-btn *ngIf="spot.betStage==BetStage.NoBet" [label]="'Bet 1X'" [size]="'small'"
                                [disabled]="false" (clicked)="betX1(spot)" [style]="'negative'" />
                            <app-rectangle-btn
                                *ngIf="spot.betStage === BetStage.AfterRiver || spot.betStage === BetStage.Fold"
                                [label]="'Cancel'" [size]="'small'" [disabled]="false" (clicked)="cancel(spot)" />

                        </div>
                    </div>

                </div>
                <div [style.width.%]="50" [style.margin.px]="5">
                    <div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.tripsBalance<0"
                            [class.green]="spot.tripsBalance>0" [class.blue]="spot.tripsBalance==0">
                            <p class="balance-style">Trips Balance</p>
                            <p class="balance-style">{{spot.tripsBalance}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.anteBalance<0"
                            [class.green]="spot.anteBalance>0" [class.blue]="spot.anteBalance==0">
                            <p class="balance-style">Ante Balance</p>
                            <p class="balance-style">{{spot.anteBalance}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.blindBalance<0"
                            [class.green]="spot.blindBalance>0" [class.blue]="spot.blindBalance==0">
                            <p class="balance-style">Blind Balance</p>
                            <p class="balance-style">{{spot.blindBalance}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.preFlopBalance<0"
                            [class.green]="spot.preFlopBalance>0" [class.blue]="spot.preFlopBalance==0">
                            <p class="balance-style">Preflop Bets Balance</p>
                            <p class="balance-style">{{spot.preFlopBalance}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.flopBalance<0"
                            [class.green]="spot.flopBalance>0" [class.blue]="spot.flopBalance==0">
                            <p class="balance-style">Flop Bets Balance</p>
                            <p class="balance-style">{{spot.flopBalance}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.riverBalance<0"
                            [class.green]="spot.riverBalance>0" [class.blue]="spot.riverBalance==0">
                            <p class="balance-style">River Bets Balance</p>
                            <p class="balance-style">{{spot.riverBalance}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.totalBalance<0"
                            [class.green]="spot.totalBalance>0" [class.blue]="spot.totalBalance==0">
                            <b class="balance-style">Total Balance</b>
                            <b class="balance-style">{{spot.totalBalance}}</b>
                        </div>
                    </div>

                    <div class="d-flex ai-center jc-space-btw green">
                        <p class="balance-style">Wins</p>
                        <p class="balance-style">{{spot.wins}}</p>
                    </div>
                    <div class="d-flex ai-center jc-space-btw red">
                        <p class="balance-style">Losses</p>
                        <p class="balance-style">{{spot.losses}}</p>
                    </div>
                    <div class="d-flex ai-center jc-space-btw blue">
                        <p class="balance-style">Ties</p>
                        <p class="balance-style">{{spot.ties}}</p>
                    </div>
                    <div class="d-flex ai-center jc-space-btw blue">
                        <b class="balance-style">Total Hands</b>
                        <b class="balance-style">{{spot.totalHands}}</b>
                    </div>

                    <b class="balance-style underline">Current Hand</b>
                    <div class="d-flex ai-center jc-space-btw">
                        <p class="balance-style blue">Total Bet</p>
                        <p class="balance-style blue">{{spot.totalBet}}</p>
                    </div>
                    <div *ngIf="spot.betStage==BetStage.HandOver">
                        <p *ngIf="spot.currentHandResult==HandResult.PlayerWin" class="balance-style green">Player Hand
                            Won !</p>
                        <p *ngIf="spot.currentHandResult==HandResult.PlayerLoss" class="balance-style red">Player Hand
                            Lost !</p>
                        <p *ngIf="spot.currentHandResult==HandResult.Tie" class="balance-style blue">Push !</p>

                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.tripsProfit<0"
                            [class.green]="spot.tripsProfit>0" [class.blue]="spot.tripsProfit==0">
                            <p class="balance-style">Trips Profit</p>
                            <p class="balance-style">{{spot.tripsProfit}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.anteProfit<0"
                            [class.green]="spot.anteProfit>0" [class.blue]="spot.anteProfit==0">
                            <p class="balance-style">Ante Profit</p>
                            <p class="balance-style">{{spot.anteProfit}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.blindProfit<0"
                            [class.green]="spot.blindProfit>0" [class.blue]="spot.blindProfit==0">
                            <p class="balance-style">Blind Profit</p>
                            <p class="balance-style">{{spot.blindProfit}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.playProfit<0"
                            [class.green]="spot.playProfit>0" [class.blue]="spot.playProfit==0">
                            <p class="balance-style">Play Profit</p>
                            <p class="balance-style">{{spot.playProfit}}</p>
                        </div>
                        <div class="d-flex ai-center jc-space-btw" [class.red]="spot.totalProfit<0"
                            [class.green]="spot.totalProfit>0" [class.blue]="spot.totalProfit==0">
                            <p class="balance-style">Total Profit</p>
                            <p class="balance-style">{{spot.totalProfit}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>