.strategy-board {
    width: 385px;
    height: 830px;
    border: 1px solid;
    border-radius: 15px;
    background: white;
    margin: 10px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    padding: 2px;
    text-align: center;
    border: 1px solid #ddd;
}