/* You can add global styles to this file, and also import other style files */
html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    background-color: cornsilk;
    font-family: Rubik;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #afafaf;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #0b4882;
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #327dc3;
}

.d-flex {
    display: flex;
}

.ai-center {
    align-items: center;
}

.ai-top {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.jc-start {
    justify-content: flex-start;
}

.jc-start {
    justify-content: flex-start;
}

.jc-space-btw {
    justify-content: space-between;
}

.jc-space-evenly {
    justify-content: space-evenly;
}

.jc-space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.dealer-container {
    width: 30%;
}

.table-title {
    font-size: 28px;
    margin: 10px;
}

.title {
    font-size: 20px;
    margin: 10px;
}

.subtitle {
    font-size: 17px;
    margin: 9px;
}

.center {
    text-align: center;
}

.payout-board {
    width: 40%;
    height: 325px;
    border: 1px solid;
    border-radius: 15px;
    background: white;
    margin: 0px 28px;
}

.red {
    color: #f20000;
}

.green {
    color: #038c51;
}

.blue {
    color: #0b4882;
}

.orange {
    color: orange;
}

.background-red {
    background: #f20000;
}

.background-green {
    background: #038c51;
}

.background-blue {
    background: #0b4882;
}

.background-orange {
    background: orange;
}

.player-spot-board {
    width: 24%;
    height: 480px;
    border: 1px solid;
    border-radius: 15px;
    background: white;
}

.total-bet-board {
    position: absolute;
    width: 70px;
    height: 40px;
    border: 1px solid;
    border-radius: 15px;
    background: #e4e4e4;
    margin-top: -40px
}

.total-bet-board .total-bet-title {
    font-size: 10px;
    margin: 3px auto;
    border-bottom: 1px solid;
    color: #0b4882;
    width: 80%;
    text-align: center;
}

.total-bet-board .total-bet-amount {
    font-size: 17px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}

.balance-style {
    font-size: 14px;
    margin: 3px;
}

.underline {
    border-bottom: 2px solid;
}

input {
    height: 35px;
    padding: 0 10px;
    width: 118px;
    border: 1px solid #0b4882;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border: 2px solid #0b4882;
    height: 33px;
    width: 116px;
}

input:read-only {
    outline: none;
    border: 2px solid lightgray;
    height: 33px;
    width: 116px;
    background: #ededed;
}

.name {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}